    <footer id="contact">
        <address>
            Telefon:
            <a href="tel:+40712345678">+40 712 345 678</a>
            <br>
            Adresă:
            <a href="https://www.google.com/maps/place/Facultatea+de+Matematica+si+Informatica/" target="_blank" rel="noopener noreferrer">
                Strada Eleganței nr. 10<br>
                Etaj 1, Sector 1, București
            </a>
            <br>
            E-mail:
            <a href="mailto:contact@luxurybags-octavia.ro">contact@luxurybags-octavia.ro</a>
            <br>
            WhatsApp:
            <a href="https://wa.me/40712345678" target="_blank" rel="noopener noreferrer">Discută cu noi pe WhatsApp</a>
        </address>

        <iframe
            src="https://www.google.com/maps?q=Facultatea%20de%20Matematica%20si%20Informatica&z=15&output=embed"
            width="400"
            height="250"
            title="Locație pe Google Maps">
        </iframe>

        <a href="#top" class="link-top" aria-label="Mergi la începutul paginii">
            <span class="cerc-top"></span>
            <span class="sageata-top" aria-hidden="true">&#8593;</span>
            <span class="tooltip-top">În susul paginii</span>
        </a>

        <p class="print-banner">Acesta este un proiect școlar!</p>

        <small>
            &copy; Luxury Bags by Octavia -
            pagină creată la
            <time datetime="2026-03-10">10 martie 2026</time>
        </small>
    </footer>
